@import 'https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro|Julius+Sans+One|Bree+Serif|Changa|Lalezar|Roboto+Slab|Arvo|Abel|Courgette';
@font-face {
    font-family: 'hbmrs';
    src: url(../font/hbmr/hbmrs.ttf);
}
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
* img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%; /* при уменьшении масштаба были на всю ширину */
}
p {
}
body {
    background-color: #0c0f16;
    font-size: 12px;
    color: #616a81;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/bg_site.png);
    /* background-position: top left; */
    background-repeat: repeat-x;
}
.header {
    background-image: url(../img/header_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 490px;
}
.wrapper {
    width: 895px;
    margin: 0 auto;
}
.nav-menu {
    padding: 5px 0px;
    border-bottom: 1px solid #0b1824;
    background: rgba(0, 0, 0, 0.2);
}
.nav-menu-content {
    background: #11161f;
    border: 1px solid #273344;
    border-radius: 3px;
}
.nav-menu-items li {
    display: inline-block;
}
.nav-menu-items a {
    color: #4c688d;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 12px 8px;
}
.nav-menu-items a:hover {
    color: #ffffff;
}
.nav-menu-items li:last-child {
    float: right;
    margin-right: 5px;
}
.nav-menu-items li:last-child a {
    color: #ffffff;
    font-size: 24px;
    padding: 6px 8px;
}
.logo-text {
    text-transform: uppercase;
    font-family: 'Arvo', serif;
}
.logo-text h1 {
    padding: 82px 0px 0px 64px;
}
.logo-text em {
    color: #f4f4f9;
    font-size: 60px;
    display: block;
    padding-left: 60px;
    font-family: 'hbmrs';
}
.logo-text strong {
    color: #f51c4a;
}
.first-line {
    font-size: 50px;
    font-family: 'hbmrs';
}
.second-line {
    font-size: 10px;
    font-weight: lighter;
    max-width: 300px;
    font-family: 'Source Sans Pro';
}
.logo-text span {
    display: block;
}
.main-content {
    margin-top: -80px;
}
.content-1 {
    overflow: hidden;
    border: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
    margin-bottom: 10px;
}
.content-1-item {
    width: 33.33%;
    float: left;
    padding: 10px;
    border-right: 1px solid #273344;
}
.content-1-item p {
    padding-top: 5px;
}
.content-1-item:last-child {
    border-right: none;
}
.content-1-item .fa-rss {
    font-size: 22px;
    color: #21b3c6;;
}
.content-1-item h3 {
    color: #ffffff;
    font-size: 22px;
    display: inline;
    font-family: 'Source Sans Pro';
}
.content-1-item a {
    color: #ff1d4f;
    font-size: 24px;
    float: right;
}
.w32 {
    width: 32%;
    margin-right: 2%;
}
.w66 {
    width: 66%;
}
.mr0 {
    margin-right: 0;
}
.content-2 {
    margin-bottom: 10px;
    overflow: hidden;
}
.content-2-item {
    float: left;
    border: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
}
.content-2-item h4 {
    padding: 10px 10px;
    color: #ffffff;
    font-size: 18px;
}
.content-2-item ul {
    padding: 10px 20px 16px 20px;
}
.content-2-item ul li {
    border-bottom: 1px rgba(76, 104, 141, 0.5) dashed;
    line-height: 21px;
}
.content-2-item h2 {
    color: #ffffff;
    font-size: 48px;
    padding-bottom: 5px;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
}
.content-2-item.w66 {
    padding: 33px 23px;
}
.content-2-item span {
    color: #21b3c6;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}
.content-2-item a {
    color: #ffffff;
    background: #de1640;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    float: right;
}
.content-2-item p {
    font-size: 13px;
}
.content-3-item {
    float: left;
    border: 1px solid #273344;
    border-radius: 3px;
}
.content-3-content {
    background: #141922;
    padding: 16px 20px 16px 20px;
    overflow: hidden;
}
.block-title {
    border-bottom: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
    padding: 10px 15px 10px 15px;
    color: #be204e;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Source Sans Pro';
}
.content-3-content img {
    margin: 5px 0;
}
.content-3-content span {
    color: #21b3c6;
    padding-bottom: 8px;
    display: block;
}
.content-3-content a {
    color: #141a23;
    background: linear-gradient(180deg, #fcfcfc 0%, #4c546f 100%);
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    float: right;
}

.content-3 {
    margin-bottom: 10px;
    overflow: hidden;
}
.footer {
    padding: 15px 0;
}
.copyright {
    display: inline-block;
}
.copyright a {
    color: #ff1e4f;
}
.copyright a:hover {
    text-decoration: underline;
}
.powered {
    display: inline-block;
    float: right;
}
.powered a {
    text-decoration: underline;
    color: #616a81;
}

.powered a:hover {
    text-decoration: none;
}

/* Services */
.services {
    margin-top: -80px;
}
.servcont-1 {
    overflow: hidden;
    border: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
    margin-bottom: 10px;
}
.servcont-2 {
    margin-bottom: 10px;
    overflow: hidden;
}
.servcont-1-item {
    width: 33.33%;
    float: left;
    padding: 10px;
    border-right: 1px solid #273344;
}
.servcont-1-item p {
    padding-top: 5px;
}
.servcont-1-item:last-child {
    border-right: none;
}
.servcont-1-item span {
    font-size: 13px;
    font-weight: bold;
    color: #21b3c6;
    padding-top: 15px;
    display: block;
}
.servcont-1-item h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Source Sans Pro';
}
.servcont-1-item a {
    color: #ffffff;
    background: #de1640;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    float: right;
}
.servcont-1-item img {
    margin: 0 auto;
    width: initial;
    padding-top: 15px;
    padding-bottom: 5px;
}
.servcont-2-item {
    float: left;
    border: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
}
.servcont-2-content a {
    color: #141a23;
    background: linear-gradient(180deg, #fcfcfc 0%, #4c546f 100%);
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    float: right;
}
.servcont-2-item.w66 {
    margin-right: 2%;
}
.servcont-2-item.w32 {
    margin-right: 0;
}
.servcont-2-item ul li {
    border-bottom: 1px rgba(76, 104, 141, 0.5) dashed;
    line-height: 21px;
}
.servcont-2-content {
    background: #141922;
    padding: 16px 20px 16px 20px;
    overflow: hidden;
}
.proposals {
    float: left;
    margin-bottom: 10px;
}
.proposals img {
    width: initial;
    float: left;
    margin: 5px 10px;
}
.proposals span {
    color: #21b3c6;
    padding-bottom: 8px;
    display: block;
}
/* Events */
.events {
    margin-top: -80px;
    overflow: hidden;
}
.evcont-1 {
    overflow: hidden;
    border: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
    margin-bottom: 10px;
    padding-bottom: 20px;
    float: left;
}
.evcont-items > a {
    color: #ffffff;
    background: #de1640;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: bold;
    float: right;
    margin-top: 10px;
}
.evcont-items {
    padding: 0 20px;
}
.evcont-1-item {
    float: left;
    padding-top: 15px;
}
.evcont-2 {
    margin-bottom: 10px;
    overflow: hidden;
    float: left;
}
.evcont-1-item img {
    margin-bottom: 5px;
}
.evcont-1-item a {
    color: #ff1d4f;
    font-size: 24px;
    float: right;
}
.evcont-2-item {
    border: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
    overflow: hidden;
    margin-bottom: 10px;
}
.evcont-2-item h4 {
    padding: 10px 10px;
    color: #ffffff;
    font-size: 18px;
}
.evcont-2-content {
    padding: 10px 20px 16px 20px;
    overflow: hidden;
}
.evcont-2-content p {
    color: #21b3c6;
    font-weight: bold;
    padding-bottom: 5px;
}
.evcont-2-content a {
    color: #ffffff;
    background: #de1640;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: bold;
    float: right;
}
.evcont-2-content ul {
    width: 50%;
    float: left;
    padding-right: 50px;
    margin: 20px 0;
}
.evcont-2-content ul li {
    border-bottom: 1px rgba(76, 104, 141, 0.5) dashed;
    line-height: 21px;
}
.evcont-2-content span {
    padding-bottom: 20px;
    display: block;
}
.w49 {
    width: 49%;
    float: left;
}
.mr2 {
    margin-right: 2%;
}
.contact-red {
    color: #ff1e50 !important;
}
.contact-red span {
    display: inline-block;
    width: 100px;
    padding-bottom: 10px;
}
/* Contacts */
.contacts {
    margin-top: -80px;
}
.contcont-1 {
    overflow: hidden;
    border: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
    margin-bottom: 10px;
}
.contcont-1-item h3 {
    padding: 10px 10px;
    color: #ffffff;
    font-size: 18px;
}
.contcont-1-item span {
    font-size: 13px;
    font-weight: bold;
    color: #21b3c6;
    padding-top: 15px;
    padding-bottom: 5px;
    display: block;
}
.contcont-1-item {
    float: left;
    padding: 10px 20px 16px 20px;
}
.contcont-1-item ul li {
    border-bottom: 1px rgba(76, 104, 141, 0.5) dashed;
    line-height: 21px;
}
.contcont-1-item a {
    color: #141a23;
    background: linear-gradient(180deg, #fcfcfc 0%, #4c546f 100%);
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    float: right;
}
.contcont-2 {
    overflow: hidden;
}
.contcont-2-content {
    padding: 16px 15px 16px 15px;
}
.contcont-2-item {
    float: left;
    overflow: hidden;
    border: 1px solid #273344;
    border-radius: 3px;
    background: linear-gradient(180deg, #161c25 0%, #0b0e15 100%);
    margin-bottom: 10px;
}
.contact-info p {
    font-size: 13px;
    font-weight: bold;
    color: #21b3c6;
}
.contact-info span {
    width: 100px;
    display: inline-block;
}
.contact-info p:nth-child(1),
.contact-info p:nth-child(4) {
    margin-top: 30px;
}
.contcont-2-item.w66 .block-title {
    color: #ffffff;
}
.contcont-2-item form {
    padding: 16px 15px 16px 15px;
}
.contcont-2-item input,
.contcont-2-item textarea,
.contcont-2-item select {
    width: 100%;
    margin-bottom: 10px;
    background: #0e1118;
    border: solid 1px #1a212d;
    padding: 3px;
    color: #616a81;
    resize: none
}
::-webkit-input-placeholder {
    color: #616a81;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="submit"] {
    color: #141a23;
    background: linear-gradient(180deg, #fcfcfc 0%, #4c546f 100%);
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    float: right;
    outline: none;
    width: inherit;
}
.tCaptcha {
    margin-bottom: 15px;
}
.tCaptcha img {
    width: inherit;
}